* {
    padding: 0;
    margin: 0;
}

header {
    height: 100px;
    width: 100%;
    background-color: white;
    /* border: 1px solid ; */
}

nav {
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;

}

.N-Reach {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.N-Reach a {
    text-decoration: none;
    color: #6591e7;
}

.mid_nav a {
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.mid_nav a:hover {
    color: #00afef;
}

.sign_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1rem; */
}


.sign_in a {
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}


.sign_in a:hover {
    color: #00afef;
}

/* main */
.logo {
    position: absolute;
    margin-top: 15%;
    margin-left: 5%;
    line-height: 3rem;
    color: black;

}

.logo h1 {

    color: #6591e7;

}

.home {
    height: 500px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-image: url(./img/young-woman-pharmacist-pharmacy\ \(1\).jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: 100 100;
    object-fit: contain;
    /* background-color: whitesmoke; */
}

.home .right {
    width: 50%;
    height: 600px;
    padding-top: 50px
}


.home .right form {
    width: 100%;
    /* height: 600px ; */
}

.home2 {
    height: 300px;
    width: 90%;
    margin: auto;


    background-color: whitesmoke;
    border-radius: 10px;
}

.option {
    height: 60px;
    width: 430px;
    background-color: white;
}

.home2 .right {
    padding-top: 2rem;
}

select {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 10px;
    outline: none;
}

.career {

    height: 700px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px;
}

.career1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    line-height: 2rem;
}

.career1 img {
    border-radius: 5px;
}

select {
    background-color: whitesmoke;
}

.right {
    width: 50%;
    text-align: center;
}

form input {
    /* text-align: center; */

    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 10px;
    outline: none;
}

button {
    padding: 15px 30px;
    color: white;
    background-color: 
    #6591e7;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 15px;
}

/* Sign up page */
.sign-up {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.sec1 {
    min-height: 600px;
    width: 50%;
    margin: auto;
    /* border: 1px solid; */
    /* padding: 20px; */
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: block;
    align-items: center;
    justify-content: center;
    /* background-color: aliceblue; */
}

.sec1 form {

    min-height: 400px;
    width: 70%;
    margin: auto;
    line-height: 2rem;
    display: block;
    justify-content: center;
    background-color: white;
    padding: 20PX;
}


.sec1 form input {
    display: block;
    width: 90%;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;

}

.sec1 span {
    color: red;
}

.sec1 form select {
    display: block;
    width: 94%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;

}

.sec1 button {
    /* padding: 10px 100px; */
    width: 94%;
    height: 40px;
    padding: 10px;
    background-color: #6591e7;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;

}

/* sign in */
.sign-in-body {
    background-color: whitesmoke;
}


.Sign-in-container {
    height: 250px;
    width: 35%;
    margin: auto;
    background-color: white;
    padding: 20px;
    margin-top: 150px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px whitesmoke;
    border-radius: 5px;
    /* text-align: center; */
}


.Sign-in-container h1 {
    font-family: sans-serif;
}

.Sign-in-container form {
    display: block;
    align-items: center;
    justify-content: center;
}

.Sign-in-container form input {
    margin-bottom: 2rem;
    width: 70%;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(55, 55, 55);
    outline: none;

}

.Sign-in-btn {
    min-width: 70%;
    min-height: 30px;
    background-color: #6591e7;
    color: white;
    border: none;
    font-weight: 500;
    /* padding: 10px; */
}

/* Main */
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.main-nav-left h1 {
    color: #6591e7;
}

.main-nav-left a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.accountBtn {
    background-color: #6591e7;
    border-radius: 15px;
}

.welcome {
    height: 300px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.welcome div {
    width: 50%;
}

.welcome span {
    color: #6591e7;
}

.welcome div h1 {
    font-size: 67px;
    /* font-weight: 800; */
}

.welcome div p {
    /* font-size: 67px; */
    font-weight: 300;
    line-height: 3rem;
}

.welcome div a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.banner-1 {
    width: 85%;
    margin: auto;
}

.banner-1 img {
    width: 100%;
    /* margin: auto; */
}

.services {
    width: 85%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    line-height: 5rem;
}

.services h1 {
    font-size: 40px;
}

.services p {
    font-size: medium;
    font-weight: 600;
}

.services .services- {
    width: 100%;
}

.services- img {
    width: 100%;
}

.services-2 {
    width: 85%;
    margin: auto;
}

.services-2 img {
    width: 100%;
}

.how-it-works {
    width: 85%;
    margin: auto;
    text-align: center;
    line-height: 5rem;
    margin-top: 4rem;

}

.how-it-works- {
    width: 100%;
}

.how-it-works h1 {
    font-size: 40px;
}

.how-it-works- img {
    width: 100%;
}

.banner-5 {
    width: 85%;
    margin: auto;
}

.banner-5 img {
    width: 100%;
}




/* demtist appointment */
.dentist-appt {
    height: 600px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dentist- {
    width: 50%;
    height: 400px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);
    gap: 2rem; */
}

.dentist- img{
    width: 100%;
   
}

.dentist {
    /* height: 180px;
    width: 100%;
    border-radius: 3rem;
    background-color: whitesmoke; */

    /* box-shadow: 2px 2px 5px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.doc-img {
    width: 30%;
    /* border-radius: 50px; */
}

.doc-img img {
    width: 100%;
    border-radius: 10px;
}

.doc {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 30px;
    /* justify-content: center; */
}

.apptTime {
    line-height: 30px;
}

.schedule{
    height: 200px;
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 2px 2px 3px;
}

.meeting select{
    display: block;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.textarea{
    padding: 10px;
}

/* Diagnose */
.diagnose {
    height: 400px;
    width: 100%;
    position: relative;
}



.slide {
    width: 100%;
    height: 400px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: whitesmoke;
    /* overflow: hidden; */
    /* display: none; */
    /* position: absolute; */
}

.active {
    display: flex;
}

.left, .right{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
}


.right{
    right: 0;
}

/* Appointment page */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6591e7;
    display: block;
    transition: 0.3s;
    padding: 10px;
    border: 0.1px solid;
    border-top: none;
  }
  
    
  .sidebar a :nth-of-type(1){
  
    /* border: 0.1px solid; */
    border: none;
  }

  .sidebar a:hover {
    color: black;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#6591e7;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: white;
    color:#6591e7 ;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }



/* footer */
footer {
    height: 100px;
    width: 100%;
    background-color: black;
    color: #5b6c7c;
    padding-top: 4rem;
}


footer .foot {
    height: 90px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot .foota {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}

.foot .foota .log {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    color: #989898;
}

.foot .foota i {
    font-size: 30px;
    padding: 5px;
}


.foot .right {
    width: 30%;

}

.foot .footb {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #989898;
}

.foot .copy {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}